.loading-spinner{
	padding: 3rem;
	background: rgba(0, 0, 0, 0.15);
	display: flex;
	align-items: center;
	justify-content: center;
}

mat-card{
	max-width: 80%;
	margin: 2em auto;
	min-width: 300px;
	text-align: center;
}

mat-toolbar{
	border-radius: 10px 10px 0 0;
}

app-courses-list{
	border-radius: 0 0 10px 10px;
}

.column-flex{
	display: flex;
	flex-direction: column;
	min-width: 300px
}
